<div class="container-fluid" style="text-align: center" ><%= image_tag "http://www.duncanmcfarlane.ca/images/beer.jpg" %>
</div>

<footer style="font-size: 8pt; text-align: center;">copyright <a href="http://www.inboxcommunications.com/" target="_blank">Inbox Communications</a></footer>